{
  "openapi": "3.1.0",
  "info": {
    "title": "Luma API",
    "version": "1.0.0",
    "description": "API عمومی لوما برای تولید رسانه با هوش مصنوعی، گفتگو با مدل‌های زبانی و اجرای ورک‌فلوها.\n\n## احراز هویت\n\nکلید API خود را از بخش «توسعه‌دهندگان → کلیدهای API» در داشبورد بسازید و در هدر Authorization ارسال کنید:\n\n`Authorization: Bearer <api-key>`\n\n## الگوی پردازش غیرهمزمان\n\nدرخواست‌های تولید رسانه بلافاصله با وضعیت queued پاسخ داده می‌شوند. وضعیت درخواست را از مسیر GET /v1/requests/{id} دنبال کنید تا به completed یا failed برسد؛ سپس فایل‌های خروجی از فیلد assets در دسترس هستند.\n\n## خطاها\n\nتمام خطاها با ساختار استاندارد `{ \"error\": { \"type\", \"code\", \"message\", \"param\" } }` برگردانده می‌شوند."
  },
  "servers": [
    {
      "url": "https://dash.lumai.ir/api/v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "assets",
      "x-display-name": "فایل‌ها",
      "description": "دانلود فایل‌های خروجی تولیدشده."
    },
    {
      "name": "images",
      "x-display-name": "تصویر",
      "description": "تولید، ویرایش و پردازش تصویر با مدل‌های هوش مصنوعی."
    },
    {
      "name": "videos",
      "x-display-name": "ویدیو",
      "description": "تولید ویدیو از متن، تصویر و فایل‌های مرجع."
    },
    {
      "name": "requests",
      "x-display-name": "پیگیری درخواست‌ها",
      "description": "پردازش رسانه غیرهمزمان است؛ وضعیت و خروجی درخواست‌ها را از این مسیرها دنبال کنید."
    },
    {
      "name": "models",
      "x-display-name": "مدل‌ها",
      "description": "فهرست مدل‌های در دسترس و پارامترهای هر مدل."
    },
    {
      "name": "chat",
      "x-display-name": "گفتگو",
      "description": "تولید پاسخ مدل زبانی، سازگار با OpenAI Responses API؛ با SDK رسمی OpenAI قابل استفاده است."
    },
    {
      "name": "workflows",
      "x-display-name": "ورک‌فلوها",
      "description": "اجرای ورک‌فلوهای منتشرشده با ورودی‌های پویا و دریافت خروجی ساختاریافته."
    }
  ],
  "paths": {
    "/assets/{id}/media": {
      "get": {
        "operationId": "getAssetMedia",
        "tags": [
          "assets"
        ],
        "summary": "دانلود فایل خروجی",
        "description": "با ریدایرکت ۳۰۲ به یک لینک امضاشده موقت، فایل اصلی را برمی‌گرداند. کلاینت‌های HTTP معمولاً ریدایرکت را خودکار دنبال می‌کنند.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "شناسه فایل",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "302": {
            "description": "ریدایرکت به لینک امضاشده دانلود"
          },
          "default": {
            "description": "خطا؛ ساختار استاندارد خطای API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{id}/media/{variant}": {
      "get": {
        "operationId": "getAssetMediaVariant",
        "tags": [
          "assets"
        ],
        "summary": "دانلود نسخه بندانگشتی/پیش‌نمایش",
        "description": "نسخه بندانگشتی یا پیش‌نمایش فایل را با ریدایرکت ۳۰۲ به لینک امضاشده برمی‌گرداند.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "شناسه فایل",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "variant",
            "in": "path",
            "required": true,
            "description": "نسخه موردنظر فایل",
            "schema": {
              "type": "string",
              "enum": [
                "thumbnail",
                "preview",
                "video-thumbnail"
              ]
            }
          }
        ],
        "responses": {
          "302": {
            "description": "ریدایرکت به لینک امضاشده دانلود"
          },
          "default": {
            "description": "خطا؛ ساختار استاندارد خطای API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/generate": {
      "post": {
        "operationId": "createImageGeneration",
        "tags": [
          "images"
        ],
        "summary": "تولید تصویر از متن",
        "description": "یک درخواست تولید تصویر ثبت می‌کند. پردازش غیرهمزمان است؛ وضعیت را از مسیر «دریافت وضعیت درخواست» پیگیری کنید.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "enum": [
                          "flux-1.1-pro",
                          "flux-1.1-pro-ultra",
                          "recraft-v3",
                          "recraft-v4.1",
                          "recraft-v4.1-pro",
                          "imagen-4"
                        ]
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "enum": [
                          "gpt-image-1.5",
                          "gpt-image-2"
                        ]
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "quality": {
                        "type": "string",
                        "enum": [
                          "normal",
                          "good",
                          "excellent"
                        ]
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "quality"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "enum": [
                          "gpt-image-1",
                          "gpt-image-1-mini"
                        ]
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "quality": {
                        "type": "string",
                        "enum": [
                          "normal",
                          "good",
                          "excellent"
                        ]
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "quality"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "z-image-turbo"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K"
                        ]
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "resolution"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "z-image-base"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K"
                        ]
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "resolution"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "enum": [
                          "seedream-4",
                          "seedream-4.5"
                        ]
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K",
                          "4K"
                        ]
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "resolution"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "seedream-5.0-lite"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K",
                          "3K"
                        ]
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "resolution"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "nano-banana-pro"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K",
                          "4K"
                        ]
                      },
                      "enableWebSearch": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "resolution"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "nano-banana-2"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "0.5K",
                          "1K",
                          "2K",
                          "4K"
                        ]
                      },
                      "enableWebSearch": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "resolution"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "grok-imagine"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "grok-imagine-pro"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "2:1",
                          "20:9",
                          "19.5:9",
                          "16:9",
                          "4:3",
                          "3:2",
                          "1:1",
                          "2:3",
                          "3:4",
                          "9:16",
                          "9:19.5",
                          "9:20",
                          "1:2"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1k",
                          "2k"
                        ]
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "resolution"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "qwen-image-max"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "ideogram-v3"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "quality": {
                        "type": "string",
                        "enum": [
                          "normal",
                          "good",
                          "excellent"
                        ]
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "quality"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "flux-2"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "flux-2-pro"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "flux-2-max"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "hunyuan-image-v3"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "aspectRatio",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "wan-2.5"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "aspectRatio",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "wan-2.6",
                          "wan-2.7",
                          "wan-2.7-pro"
                        ]
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "aspectRatio",
                      "prompt"
                    ]
                  }
                ],
                "description": "بدنه درخواست بر اساس فیلد model انتخاب می‌شود؛ هر مدل پارامترهای مجاز خود را دارد."
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "درخواست ثبت شد و در صف پردازش قرار گرفت.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "شناسه درخواست؛ برای پیگیری وضعیت استفاده می‌شود"
                    },
                    "object": {
                      "type": "string",
                      "const": "media.request"
                    },
                    "service": {
                      "type": "string",
                      "description": "نام سرویس (مثلاً generate_image)"
                    },
                    "model": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "مدل انتخاب‌شده"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "processing",
                        "completed",
                        "failed"
                      ],
                      "description": "وضعیت فعلی درخواست"
                    },
                    "created_at": {
                      "type": "number",
                      "description": "زمان ایجاد (ثانیه، epoch)"
                    },
                    "error": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "code",
                            "message"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "جزئیات خطا هنگام شکست تولید"
                    },
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "شناسه یکتای فایل خروجی"
                          },
                          "object": {
                            "type": "string",
                            "const": "asset"
                          },
                          "media_type": {
                            "type": "string",
                            "enum": [
                              "image",
                              "video",
                              "audio",
                              "other"
                            ],
                            "description": "نوع رسانه فایل"
                          },
                          "file_name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "نام فایل"
                          },
                          "url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "آدرس دانلود فایل. با هدر Authorization فراخوانی شود؛ پاسخ یک ریدایرکت ۳۰۲ به لینک امضاشده است."
                          },
                          "thumbnail_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "آدرس تصویر بندانگشتی (در صورت وجود)"
                          }
                        },
                        "required": [
                          "id",
                          "object",
                          "media_type",
                          "file_name",
                          "url",
                          "thumbnail_url"
                        ],
                        "additionalProperties": false,
                        "description": "فایل خروجی تولیدشده"
                      },
                      "description": "فایل‌های خروجی؛ فقط پس از تکمیل درخواست پر می‌شود"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "service",
                    "model",
                    "status",
                    "created_at",
                    "error",
                    "assets"
                  ],
                  "additionalProperties": false,
                  "description": "درخواست تولید رسانه"
                }
              }
            }
          },
          "default": {
            "description": "خطا؛ ساختار استاندارد خطای API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/edit": {
      "post": {
        "operationId": "createImageEdit",
        "tags": [
          "images"
        ],
        "summary": "ویرایش تصویر",
        "description": "تصویر (یا تصاویر) ورودی را بر اساس دستور متنی ویرایش می‌کند. فیلدهای فایل، آدرس اینترنتی (URL) فایل را به صورت رشته می‌پذیرند. ارسال multipart/form-data با همین نام فیلدها نیز پشتیبانی می‌شود.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "gpt-image-1",
                          "gpt-image-1-mini",
                          "gpt-image-1.5",
                          "gpt-image-2"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "quality": {
                        "type": "string",
                        "enum": [
                          "normal",
                          "good",
                          "excellent"
                        ]
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "prompt",
                      "quality"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "flux-kontext-pro",
                          "flux-kontext-max"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "nano-banana"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "nano-banana-pro"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K",
                          "4K"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "enableWebSearch": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "resolution",
                      "image"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "nano-banana-2"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "0.5K",
                          "1K",
                          "2K",
                          "4K"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "enableWebSearch": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "resolution",
                      "image"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "qwen-image-edit"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "grok-imagine"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "grok-imagine-pro"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "auto",
                          "2:1",
                          "20:9",
                          "19.5:9",
                          "16:9",
                          "4:3",
                          "3:2",
                          "1:1",
                          "2:3",
                          "3:4",
                          "9:16",
                          "9:19.5",
                          "9:20",
                          "1:2"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1k",
                          "2k"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "qwen-image-max"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "seedream-4",
                          "seedream-4.5"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K",
                          "4K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "seedream-5.0-lite"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K",
                          "3K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "flux-2"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "flux-2-pro",
                          "flux-2-max"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "emu-3.5-image"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "0.5K",
                          "1K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "reve-fast",
                          "reve"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "z-image-turbo"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K"
                        ]
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "wan-2.6"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "wan-2.7",
                          "wan-2.7-pro"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "qwen-image-edit-2511"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri",
                          "description": "آدرس اینترنتی (URL) فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "آدرس‌های اینترنتی فایل‌های ورودی (حداکثر 5)"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K"
                        ]
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  }
                ],
                "description": "بدنه درخواست بر اساس فیلد model انتخاب می‌شود؛ هر مدل پارامترهای مجاز خود را دارد."
              }
            },
            "multipart/form-data": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "gpt-image-1",
                          "gpt-image-1-mini",
                          "gpt-image-1.5",
                          "gpt-image-2"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "quality": {
                        "type": "string",
                        "enum": [
                          "normal",
                          "good",
                          "excellent"
                        ]
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "prompt",
                      "quality"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "flux-kontext-pro",
                          "flux-kontext-max"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "nano-banana"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "nano-banana-pro"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K",
                          "4K"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "enableWebSearch": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "resolution",
                      "image"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "model": {
                        "type": "string",
                        "const": "nano-banana-2"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "0.5K",
                          "1K",
                          "2K",
                          "4K"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "enableWebSearch": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "prompt",
                      "model",
                      "aspectRatio",
                      "resolution",
                      "image"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "qwen-image-edit"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "grok-imagine"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "grok-imagine-pro"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "auto",
                          "2:1",
                          "20:9",
                          "19.5:9",
                          "16:9",
                          "4:3",
                          "3:2",
                          "1:1",
                          "2:3",
                          "3:4",
                          "9:16",
                          "9:19.5",
                          "9:20",
                          "1:2"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1k",
                          "2k"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "qwen-image-max"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "seedream-4",
                          "seedream-4.5"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K",
                          "4K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "seedream-5.0-lite"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K",
                          "3K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "flux-2"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "flux-2-pro",
                          "flux-2-max"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "emu-3.5-image"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "0.5K",
                          "1K"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "reve-fast",
                          "reve"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "z-image-turbo"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "1K",
                          "2K"
                        ]
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "resolution",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "const": "wan-2.6"
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
                      "aspectRatio",
                      "prompt"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "wan-2.7",
                          "wan-2.7-pro"
                        ]
                      },
                      "image": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "binary",
                          "description": "محتوای فایل ورودی"
                        },
                        "maxItems": 5,
                        "description": "فایل‌های ورودی (حداکثر 5)"
                      },
                      "improvePrompt": {
                        "type": "boolean"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "4:3",
                          "1:1",
                          "3:4",
                          "9:16"
                        ]
                      },
                      "prompt": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 5000
                      }
                    },
                    "required": [
                      "model",
                      "image",
[...]
